In [1]:
# Import the `pandas` library as `pd`. And load 'stay at home' data set  as df1. after loading data set we renamed 'Entety' to loaction as we need to merge data sets on common values. 
import pandas as pd
df1 = pd.read_csv('stay-at-home-covid.csv') #path may have to be altered
df1=df1.rename(columns={'Entity':'location'})
df1

          location Code        Date  Stay at home requirements (OxBSG)
0      Afghanistan  AFG  2020-01-01                                  0
1      Afghanistan  AFG  2020-01-02                                  0
2      Afghanistan  AFG  2020-01-03                                  0
3      Afghanistan  AFG  2020-01-04                                  0
4      Afghanistan  AFG  2020-01-05                                  0
...            ...  ...         ...                                ...
36633     Zimbabwe  ZWE  2020-07-16                                  1
36634     Zimbabwe  ZWE  2020-07-17                                  1
36635     Zimbabwe  ZWE  2020-07-18                                  1
36636     Zimbabwe  ZWE  2020-07-19                                  1
36637     Zimbabwe  ZWE  2020-07-20                                  1

[36638 rows x 4 columns]

In [2]:
#loading 'owid-covid-data' as df2 and renaming 'iso_code' to 'Code' to enable merging data sets  on common values.
df2 = pd.read_csv('owid-covid-data.csv')
df2=df2.rename(columns={'iso_code':'Code'})
df2

,Code,continent,location,Date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
0,AFG,Asia,Afghanistan,2019-12-31,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
1,AFG,Asia,Afghanistan,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
2,AFG,Asia,Afghanistan,2020-01-02,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
3,AFG,Asia,Afghanistan,2020-01-03,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
4,AFG,Asia,Afghanistan,2020-01-04,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32120,NaN,NaN,International,2020-02-28,705.0,0.0,4.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32121,NaN,NaN,International,2020-02-29,705.0,0.0,6.0,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32122,NaN,NaN,International,2020-03-01,705.0,0.0,6.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32123,NaN,NaN,International,2020-03-02,705.0,0.0,6.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32124,NaN,NaN,International,2020-03-10,696.0,-9.0,7.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#utilize merge finction to merge to data sets on common values such as 'location', 'Date', 'Code'
covid_data=pd.merge(df1, df2, on=['location', 'Date', 'Code'])
covid_data

,location,Code,Date,Stay at home requirements (OxBSG),continent,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
0,Afghanistan,AFG,2020-01-01,0,Asia,0.0,0.0,0.0,0.0,0.000,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
1,Afghanistan,AFG,2020-01-02,0,Asia,0.0,0.0,0.0,0.0,0.000,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
2,Afghanistan,AFG,2020-01-03,0,Asia,0.0,0.0,0.0,0.0,0.000,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
3,Afghanistan,AFG,2020-01-04,0,Asia,0.0,0.0,0.0,0.0,0.000,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
4,Afghanistan,AFG,2020-01-05,0,Asia,0.0,0.0,0.0,0.0,0.000,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26898,Zimbabwe,ZWE,2020-07-16,1,Africa,1089.0,55.0,20.0,1.0,73.270,...,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49
26899,Zimbabwe,ZWE,2020-07-17,1,Africa,1362.0,273.0,23.0,3.0,91.637,...,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49
26900,Zimbabwe,ZWE,2020-07-18,1,Africa,1420.0,58.0,24.0,1.0,95.540,...,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49
26901,Zimbabwe,ZWE,2020-07-19,1,Africa,1478.0,58.0,25.0,1.0,99.442,...,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49
26902,Zimbabwe,ZWE,2020-07-20,1,Africa,1611.0,133.0,25.0,0.0,108.390,...,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49